*{
    margin:0;
    padding:0;
}
body {
    background-color: #232d3a;
    color:#eeeeee;
}

.app-container{
    padding-top:2em;
}

.search-input-container{
    display:inline-block;
    border-bottom:solid 1px lightgrey;
}

#player-total{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.text-center{
    text-align: center !important;
}

.full-width{
    width:100%;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}

.ui.form input[type="text"]:focus{
    color:inherit !important;
}
